<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://miro.medium.com/v2/resize:fit:800/0*XH3rLskyOsCqVV-j.jpg"
      alt=""
      height="200px"
      srcset=""
    />
  </div>
  <div class="big-card__title">
    <h1>
      <a href="#"
        >Saiu a nova versão do Angular. Vem aqui conferir as novidades!</a
      >
    </h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="">
        O lançamento da mais nova versão do Angular ocorreu em maio de 2019 e
        conta com algumas melhorias no funcionamento dos formulários reativos,
        melhoria na sintaxe para declaração de rotas lazy-loading e a esperada
        disponibilização do compilador Ivy, que nesta versão ainda está em
        preview e precisa ser habilitado, mas não é recomendado que se utilize
        em produção.
      </a>
    </p>
  </div>
</div>
