<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img
        src="https://miro.medium.com/v2/da:true/resize:fit:680/1*VON9gHTrzeHZbHfXsqfzEA.gif"
        alt=""
        height=""
        srcset=""
      />
    </div>
    <div class="small-card__title">
      <a href="#">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias
        delectus optio officia itaque, suscipit.
      </a>
    </div>
  </div>
  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
